* {
  margin: 0;
  padding: 0;

  font-family: 'DM Sans', sans-serif;

}

body {
  background-color: rgb(247, 243, 237);

}


@media (max-width: 950px) {

  header {}

  /*borra el section web */
  .sectionWeb {
    display: none;
  }

  .tituloWeb {
    display: none;
  }

  /* navegador */
  nav {
    background-color: rgba(52, 31, 28, 0.992);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

  }

  h1 {
    padding: 10px;
  }

  .logo {
    width: 8rem;
    height: 3rem;
    cursor: pointer;

  }

  ul li {

    list-style: none;
    display: inline-block;
    margin: 0.3rem;
    padding-top: 15px;


  }

  a {
    text-decoration: none;
    color: white;
    font-size: 0.6rem;


  }

  a:hover {
    text-decoration: underline
  }


  /* section productos */

  .sectionMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100%;
  }

  .imagenMobile {
    height: 60%;
    width: 80%;
  }

   button {

    background-color: transparent;
    border-radius: 15px;
    border: 2px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    padding: 10px 44px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;

  }

  h1 {
    padding-top: 10px;

  }

  /* section aprender */
  .aprender {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100%;
  }

  .tituloAprender {
    padding: 10PX;
  }

  iframe {

    height: 400PX;
    width: 80%;

  }
}

/* footer */

/* contacto footer */
.padreFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 100%;
  background-color: rgba(52, 31, 28, 0.992);

}

.padreFooter ol li {
  font-size: 13px;
  text-align: start;
  margin-left: 10px;
  list-style-type: none;
  color: rgb(254, 248, 248);

}


.redes {
  display: flex;
  justify-content: center;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  margin: 10px;
  padding: 10px;
  border-color: white;

}

.redes a {
  padding: 15px;
}

/* newslatter y copyright */

.newslater {
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 10px;
  text-align: center;
  color: white;
}

.newslater form {}

p {
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 10px;
}

/* WEB */
@media (min-width: 950px) {

  /*borra el section mobile */
  .sectionMobile {
    display: none;
  }

  /* navegador */
  .navegador {
    background-color: rgba(52, 31, 28, 0.992);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .logo {
    width: 10rem;
    height: 5rem;
    cursor: pointer;
    margin: 30px;

  }

  ul li {

    list-style: none;
    display: inline-block;
    margin: 2rem;
    padding-top: 15px;

  }

  a {
    text-decoration: none;
    color: white;
    font-size: 100%;


  }

  a:hover {
    text-decoration: underline
  }


  /* section productos */
  h1 {
    text-align: center;
    padding: 20px;
    font-size: 4rem;

  }

  .sectionWeb {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 30px;
    justify-content: space-around;
    align-items: center;

  }

  .subtituloImg {
    font-size: 2rem;
    color: #000000;
  }

  .sectionWeb .imagen {

    height: 80%;
    width: 100%;

  }

   button  {
    background-color: burlywood;
    border-radius: 20px;
    border: 3px solid #000000;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    margin: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .colorBotonProductos{
    color: #000;
  }

  /* setion aprender */

  .aprender {

    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .tituloAprender {
    text-align: center;
    padding: 20px;
    font-size: 4rem;
  }


  .aprender iframe {

    height: 100vh;
    width: 90%;


  }


}

/* footer */

/* contacto footer*/
.padreFooter .web {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 40vh;
  background-color: rgba(52, 31, 28, 0.992);

}

.padreFooter ol li {
  font-size: 15px;
  text-align: center;
  margin-left: 10px;
  list-style-type: none;
  color: rgb(254, 248, 248);

}

.redes {
  display: flex;
  justify-content: center;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  margin: 10px;
  padding: 10px;
  border-color: white;

}

.redes a {

  padding: 10px;
  filter: invert(1) sepia(1) hue-rotate(0deg) saturate(0%)
}


/* newslatter y copyright */

.newslater {

  display: flex;
  flex-direction: column;
  text-align: center;
}

.newslaterForm .correo {
  padding-inline: 3 0px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  border-radius: 20px;
  background-color: burlywood;
  text-align: start;

}

.boton {
  padding-inline: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  border-radius: 20px;
  background-color: burlywood;
}

h4 {
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.copyright {
  color: white;
  text-align: center;
  font-size: 10px;

}

/* NUESTROS PRODUCTOS MOBILE */

@media (max-width: 950px) {
  /* header */

  .headerProductos {
    display: flex;

  }

  /* informacion de productos*/

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .productos {
    width: 100%;
  }

  .productos h1 {
    text-align: center;
  }

  .parrafoProductos {
    color: #ffffff;
    font-size: 15px;
    background-color: rgb(98, 97, 97);
    margin: 10px;
    border-radius: 20px;

  }

  /* productos con imagenes */

  .articulosImagenes img {
    width: 100%;
  }

  .articulosImagenes h2 {
    text-align: center;

  }

  .articulosImagenes article button {

    border-radius: 20px;
    border: 2px solid #000000;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: burlywood;

  }

  .articulosImagenes h4 {
    color: #000000;

  }

  .articulosImagenes p {
    color: #000;
  }

}

.articulosImagenes article .botonProductos {
  color: #000;
  padding: 10px;
  font-size: 15px;
}

/* ----------------------------- */

/* SECCION PRODUCTOS WEB */

@media (min-width: 950px) {

  /* informacion de productos*/

  nav {
    background-color: rgba(52, 31, 28, 0.992);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .productos {
    width: 100%;
  }

  .productos h1 {
    text-align: center;
  }

  .parrafoProductos {
    color: #ffffff;
    font-size: 20px;
    background-color: rgb(98, 97, 97);
    margin: 10px;
    border-radius: 20px;
    padding: 50px;

  }

  /* productos con imagenes */
  .articulosImagenes img {
    width: 70%;
    height: 70%;
    margin-left: 15%;
  }

  .articulosImagenes h2 {

    font-size: 40px;
    text-align: center;
    margin: 20px;

  }

  .articulosImagenes h4 {
    color: #000000;

  }

  .articulosImagenes p {
    color: #000;
    font-size: 20px;
  }

  .articulosImagenes article button {

    background-color: transparent;
    border-radius: 20px;
    border: 2px solid #000000;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: burlywood;

  }

  .articulosImagenes article .botonProductos {
    color: #000;
    padding: 10px;
    font-size: 25px;
  }

}

/* APRENDER mobile */
@media (max-width: 950px) {

  .videoAprender {
    display: flex;
    justify-content: center;
  }

  .mainAprender {
    display: flex;
  }

  .mainAprender h3 {
    text-align: center;
    font-size: 25px;
  }

  .mainAprender h1 {
    text-align: center;
  }

  .parrafoAprender {
    color: #000;
    font-size: 25px;
    margin: 25px;
    background-color: rgb(98, 97, 97);
    border-radius: 20px;
  }

}

/* ================= */

/* APRENDER WEB */
@media (max-width: 950px) {

  .videoAprender {
    display: flex;
    justify-content: center;
  }

  .mainAprender h3 {
    text-align: center;
    font-size: 25px;
  }

  .mainAprender h1 {
    text-align: center;
  }

  .parrafoAprender {
    color: #000;
    font-size: 25px;
    margin: 25px;
    background-color: rgb(98, 97, 97);
    border-radius: 20px;
  }

}

/* ================= */

/* APRENDER WEB */
@media (min-width: 950px) {

  .videoAprender {
    display: flex;
    justify-content: center;
  }

  iframe {
    width: 80%;

  }


  .mainAprender {
    display: flex;
  }

  .mainAprender h3 {
    text-align: center;
    font-size: 25px;
  }

  .mainAprender h1 {
    text-align: center;
  }

  .parrafoAprender {
    color: #000;
    font-size: 25px;
    margin: 25px;
    background-color: rgb(98, 97, 97);
    border-radius: 20px;
  }

}

/* ================= */

/* PAGAR web */

@media (min-width: 950px) {

  .mainPagar {

    display: grid;
    grid-template-areas:
      "formPagar informacionPagar"
    ;
  }

  .resultadoPagar {
    grid-area: informacionPagar;

  }

  .formularioPagar {
    grid-area: formPagar;

  }

  .infomacionFormulario {
    width: 100px;
    margin: 20px;
    text-align: center;
  }

  .infomacionFormulario input {

    background-color: burlywood;
    padding: 10px 100px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 15px;
  }


  .resultadoPagar h4 {
    color: #000;
    text-align: start;
    border: #000 solid 2px;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
  }

  .radioBoton {
    padding: 20px;
    background: #f0f0f0;
    border: 2px solid burlywood;
    margin: 20px;
    padding: 20px;

  }

  .contenedorRadio {
    display: flex;
    flex-direction: row;

  }

  .radioBoton input {}

}

/* PAGAR MOBILE */
@media (max-width: 950px) {


  .mainPagar {
    display: flex;
    flex-direction: column;
  }

  .infomacionFormulario {
    width: 100px;
    margin: 20px;
    text-align: center;




  }

  .infomacionFormulario input {

    background-color: burlywood;
    padding: 10px 100px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 15px;
  }


  .resultadoPagar h4 {
    color: #000;
    text-align: start;
    border: #000 solid 2px;
    padding: 10px;
    border-radius: 20px;
    margin: 30px;
  }

  .radioBoton {

    background: #f0f0f0;
    border: 2px solid burlywood;
    margin: 20px;


  }

  .contenedorRadio {
    display: flex;
    flex-direction: row;
    padding: 20px;
    column-gap: 20px;
    border: #000 solid 2px;
  }

  .infomacionFormulario {
    order: 1;
  }

  .resultadoPagar {
    order: 2;
  }

}

/* ==================== */
/* CONTACTO WEB */

@media (min-width: 950px) {
  .contactoManin {
    display: flex;
    flex-direction: column;
  }

  .redes .redesContacto{
    display: flex;
    justify-content: center;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    margin: 10px;
    padding: 10px;
    border-color: white;
  }


}