* {
  margin: 0;
  padding: 0;
  
  font-family: 'DM Sans', sans-serif;

}

body {
  background-color: rgb(247, 243, 237);

}

/* NAVEGADOR */

.navegador {}

.logo {}

.menu {}

/* --------------------- */


@media (max-width: 600px) {

  header {}

  /*borra el section web */
  .sectionWeb {
    display: none;
  }


  /* navegador */
  nav {
    background-color: rgba(52, 31, 28, 0.992);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;


  }


  h1 {
    padding: 10px;
  }

  .logo {
    width: 8rem;
    height: 3rem;
    cursor: pointer;

  }

  .menu {}

  ul li {

    list-style: none;
    display: inline-block;
    margin: 0.3rem;
    padding-top: 15px;

  }

  a {
    text-decoration: none;
    color: white;
    font-size: 0.6rem;


  }

  a:hover {
    text-decoration: underline
  }


  /* section productos */

  .sectionMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100%;
  }

  .imagenMobile {
    height: 300px;
    width: 80%;
  }

  button {
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    padding: 10px 44px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;

  }

  h1 {
    padding-top: 10px;


  }


  /* section aprender */


  .aprender {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 100%;
  }

  .tituloAprender {
    padding: 10PX;
  }


  .aprender iframe {

    height: 300px;
    width: 80%;


  }


}

/* footer */

/* contacto footer */
.padreFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 100%;
  background-color: rgba(52, 31, 28, 0.992);

}

h4 {
  text-align: center;
  color: white;

}

.padreFooter ol li {
  font-size: 13px;
  text-align: start;
  margin-left: 10px;
  list-style-type: none;
  color: rgb(254, 248, 248);

}

.contacto {}

.redes {
  display: flex;
  justify-content: center;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  margin: 10px;
  padding: 10px;
  border-color: white;

}

.redes a {
  padding: 15px;
}

/* newslatter y copyright */

.newslater {
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 10px;
}


.newslater form {}

p {
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 10px;
}